$site-width: 114rem;

$font-primary: 'Oxygen', sans-serif;

$color-primary: #2e7d32;
$color-primary-light: #60ad5e;

$color-secondary: #5d4037;
$color-secondary-light: #8b6b61;

$shade-light: #f5f5f5;
$shade-medium: #e0e0e0;
$shade-dark: #424242;