*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: linear-gradient(to top, $color-primary, rgba($color-primary-light, .6)), url(../images/greg-garnhart.jpg) no-repeat fixed center/cover;
  background-attachment: fixed;
}